# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.env
*.sqlite3
*.db

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Backup files
*~
*.bak